# Node / Vite dependencies
frontend/node_modules
frontend/dist
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python dependencies and artifacts
backend/venv
__pycache__/
*.pyc

# IDE / OS specific
.vscode
.idea
.DS_Store